@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* fonts */
/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; 
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    position: relative;
    background-color: hsl(30, 38%, 92%);
    font-size: 62.5%;
    height: 100vh;
}

.card-container {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48rem;
    border-radius: 1rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-image {
    background-image: url(/images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5% 10%;
}

.card-content .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    /* margin-bottom: 1.5rem; */
}

.card-content .title {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    line-height: 1;
    color: hsl(212, 21%, 14%);
    margin-bottom: .5rem;
}

.card-content .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    color: hsl(228, 12%, 48%);
    margin-bottom: .5rem;
}

.card-container .prices {
    display: flex;
    gap: 2rem;
    align-items: center;
    /* margin-bottom: 1.5rem; */
}

.prices .new-price {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    color: hsl(158, 36%, 37%);
}

.prices .old-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    background-color: hsl(158, 36%, 37%);
    border-radius: .5rem;
    padding: 1.2em 4em;
    transition: .5s ease-in-out;
    margin-bottom: 1rem; 
}

.add-to-cart-btn:hover {
    background-color: hsl(158, 36%, 17%);
} 

.add-to-cart-btn img {
    width: 1.2rem;
}

.add-to-cart-btn p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
}


/* media query for 768px  */

@media (max-width: 768px) {
    .card-container {
        width: auto;
        height: 95%;
        display: grid;
        grid-template-columns: 25rem;
        grid-template-rows: 30% auto;
    }

    .card-image {
        background-image: url(/images/image-product-mobile.jpg);
    }

}

